<%= render "partials/errors", obj: @article  %>
<%= form_for @article do |f| %>
<div class="mb-3">
<%= f.label :title, class: "form-label" %>
<%= f.text_field :title, class: "form-control" %>
</div>
<div class="mb-3">
<%= f.label :description, class: "form-label" %><br>
<%= f.text_area :description, class: "form-control" %>
</div>
<p>
<%= f.submit class: "btn btn-primary" %>

<% end %>

