<div class="cont">
  <% obj.each do | article | %>
    <div class="card bg-light w-75" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">
          <%= link_to "#{article.title}" ,article_path(article)%>
        </h5>
        <p class="card-text">
          <%= article.description %>
        </p>
        <div class="small">
          <small>Created by: <%= article.user.username if article.user %></small>
          <small>Created: <%= time_ago_in_words(article.created_at)%> ago</small>
          <small>last updated: <%= time_ago_in_words(article.updated_at)%> ago</small>
        </div>
        <% if logged_in? && (current_user == article.user || current_user.admin?)%>
          <div class="butt">
            <%= link_to "edit this article" , edit_article_path(article), class:" btn btn-primary" %>
              <%= button_to 'delete this article' , article_path(article),method: :delete, class:" btn btn-danger"%>
          </div>
         <% end%>
      </div>
    </div>
    <% end %>
</div>