<%= render "partials/errors", obj: @user  %>

<%= form_for @user do |f| %>
<div class="mb-3 mt-3">
<%= f.label :username, class: "form-label" %>
<%= f.text_field :username, class: "form-control", placeholder: "enter your username" %>
</div>
<div class="mb-3">
<%= f.label :email, class: "form-label" %><br>
<%= f.email_field :email, class: "form-control",placeholder: "enter your email" %>
</div>
<div class="mb-3">
<%= f.label :password, class: "form-label" %><br>
<%= f.password_field :password, class: "form-control",placeholder: "enter password" %>
</div>
<%= f.submit (@user.new_record? ? "Signup" : "Update your account"), class: "btn btn-primary" %>

<% end %>