<h1  style="text-align:center"> Welcome to <%= @user.username %>'s page</h1>



<div class="row">
<div class=" center">
<%# <img src="./images/blog.png" class="img-thumbnail" alt="..."> %>
<%= gravatar_for @user,size: 150%>
</div>
</div>
<h2 style="text-align:center" class="mb-3"><%= @user.username %>'s articles</h2>

<%= will_paginate @user_articles %>

<%= render "partials/article", obj: @user_articles %>

<%= will_paginate @user_articles %>